body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.MuiButton-root.btn-primary{
  background-color: #6d01ed;
  font-weight: 600;
  color: white;
}

.MuiButton-root.btn-primary:hover{
  background-color: #7011e6
}

.toggle-buttons > button {
  color: #5c5c5c8a;
    width: 50px;
    padding: 3px;
    background: #c0c0c0;
    font-weight: 600;
}



.toggle-buttons > button.Mui-selected, .toggle-buttons > button.Mui-selected:hover {
  color: #fafafa;
  background-color: #6d01ed;
}
